<!doctype html>
<html>
<head>
  <title>Vytvoření závodu</title>
</head>
<body>
  <h1>Vytvoření nového rallye závodu</h1>
  <form method="post">
    Název závodu: <input type="text" name="name"><br>
    Start první posádky (YYYY-MM-DD HH:MM): <input type="text" name="start_time"><br>
    Počet časových kontrol: <input type="number" name="checkpoint_count"><br>
    Interval mezi posádkami (minuty): <input type="number" name="interval" value="1"><br>
    <input type="submit" value="Vytvořit">
  </form>
</body>
</html>
